body {
    margin-top:100px;
    font-family:"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#EDEDED;
    background-repeat:no-repeat;
}

hr {
	margin-top:50px;
	margin-bottom:50px;
}

.span {
	color: red;
}

input .button-primary {
	border-radius:100px;
}

